#leadHead {
  margin-left: 10px;
}

#leadTableContainer {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #eceff1;
}

#clientChartTitle {
  padding: 0;
}

th {
  padding-top: 0;
}

#leadTable {
  padding: 5px;
}

#statusChartTitle {
  padding: 0;
}

#chartSection {
  padding: 0;
  width: 100%;
}

#calendar {
  height: 660px;
  max-height: 660px;
  overflow-y: scroll;
  margin-top: 0;
  padding-top: 0;
  border: none;
}

#custName {
  font-weight: bold;
}

#lead-added {
  margin: 30px;
}

#nextDay {
  margin: 12px;
  display: none;
}

#today {
  margin: 12px;
  display: none;
}

#calendarSec {
  margin-top: 10px;
  padding-left: 0;
}

#stats {
  margin-top: 10px;
  padding-left: 0;
}
.card-header {
  height: 55px;
  background-color: #38e0d0;
}

#new-lead-confirmed,
#follow-up-confirmed {
  position: relative;
  float: right;
}

.pac-container {
  z-index: 100000;
}

.confirmed {
  width: 35%;
}

#follow-up-history {
  position: relative;
  float: left;
}

#lead-added {
  margin-top: 15px;
  margin-right: 18px;
}

.btn-small {
  margin-left: 15px;
}
